.position-selected {
    background-color: rgb(244, 246, 255);
}

.position {
    cursor: pointer;
    display: flex;
    flex-direction: column;


    .metadata {
        border-radius: 10px;
        //border: 1px solid gray;
        padding: 10px;
        margin: 10px;
        flex: 1;

        h3,
        h4,
        div {
            margin-bottom: 10px;

        }

        .nft-image {
            display: flex;
            flex-direction: row;

            img {
                height: 150px;
                margin-right: 10px;
            }

            .nft-info {
                display: flex;
                flex-direction: column;
            }
        }
    }
}

.table-orders {
    th {
        font-weight: normal;
        color: rgb(108, 134, 173);
    }
}